.card-catalog {
    width: 100%;
}

.card-catalog-content {
    text-align: center;
    margin-bottom: 20px;
    padding: 20px;
    background-color: var(--color-card-bg);
}

.card-catalog-content img {
    width: 100%;
}

.card-catalog-content h2 {
    padding: 10px 0;
    font-size: 18px;
    font-weight: 700;
}

.card-catalog-content p {
    font-size: 14px;
    color: var(--secundary-font);
    text-align: left;
    font-weight: 400;
    font-style: italic;
}

@media(min-width: 576px) {
    .card-catalog-content {
        margin: 5px;
    }
}