.search-bar {
    display: flex;
}

.form-control {
    height: 40px;
    width: 100%;
}

.form-control input {
    padding: 0 15px;
    border-radius: 5px 0 0 5px;
    border: 1px solid var(--color-font-placeholder);

}

.form-control input::placeholder {
    color: var(--color-font-placeholder);
}

.form-control input:focus {
    outline: none;
}

.search-barsubmit {
    background-color: var(--color-btn-primary);
    color: var(--color-font-tertiary) !important;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    padding: 0 11px;
    border: none;
    border-radius: 0px 5px 5px 0px;
}
